<div class="products-page">
  <h2 class="page-title">Products</h2>

  <div class="table-wrapper">
    <table class="custom-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Size</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.size }}</td>
          <td>{{ product.price | currency:'INR' }}</td>
          <td>

            <button class="btn edit" data-bs-toggle="modal" data-bs-target="#productModal"
              (click)="prefillModal(product)">
              Edit
            </button>
            <button class="btn delete">Delete</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title">Product Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" formControlName="name" class="form-control" />
              <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched"
                class="text-danger small">
                Brand is required
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Brand</label>
              <input type="text" formControlName="brand" class="form-control" />
              <div *ngIf="productForm.get('brand')?.invalid && productForm.get('brand')?.touched"
                class="text-danger small">
                Name is required
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Size</label>
              <input type="text" formControlName="size" class="form-control" />
              <div *ngIf="productForm.get('size')?.invalid && productForm.get('size')?.touched"
                class="text-danger small">
                Name is required
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Price</label>
              <input type="number" formControlName="price" class="form-control" />
              <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched"
                class="text-danger small">
                Price must be greater than 0
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="productForm.invalid">Save</button>
      </div>
    </div>
  </div>
</div>