/* header.component.css */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #1e88e5;
  color: white;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* subtle shadow */
}


.logo {
  margin: 0;
  font-size: 1.5rem;
}

.logout-btn {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

.logout-btn:hover {
  background-color: #d32f2f;
}
